name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - run: nix build
      - run: nix flake check --all-systems

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      # TODO
      # - run: go tool ginkgo -r --github-output .

  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/unstoppablemango/a2b
            docker.io/unstoppablemango/a2b
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha

      - if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: unstoppablemango
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v4
        with:
          tags: ${{ steps.meta.outputs.tags }}
          push: ${{ github.event_name != 'pull_request' }}
          provenance: ${{ github.event_name != 'pull_request' }}
          sbom: ${{ github.event_name != 'pull_request' }}
          cache-from: type=gha,mode=max
          cache-to: type=gha,mode=max

  dprint:
    runs-on: ubuntu-latest
    env:
      # renovate: datasource=github-tags depName=dprint/dprint
      DPRINT_VERSION: 0.50.2
    steps:
      - uses: actions/checkout@v6
      - uses: dprint/check@v2.3
        with:
          config-path: .dprint.json
          dprint-version: ${{ env.DPRINT_VERSION }}
